.page-header {
  position: relative;
  z-index: 5;
  height: 102px;

  $block-name:                &; // #{$block-name}__element

  &__inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s ease-out;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
    background-color: $body-bg;

    &.out {
      transform: translateY(-100%);
    }

    &.in-active {
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: $white;
    }
  }
}
