.hero {

  @media (min-width: $screen-xl) {
    margin-bottom: 90px;
  }

  $block-name:  &; // #{$block-name}__element

  .messengers {
    display: flex;
    justify-content: center;

    @media (min-width: $screen-xl) {
      justify-content: flex-start;
    }
  }

  &__bg {

    @media (min-width: $screen-xl) {
      background-color: $main-color;
    }
  }

  &__inner {
    padding-top: 40px;
    padding-bottom: 70px;

    @media (min-width: $screen-xl) {
      display: flex;
      flex-direction: column;
      padding-top: 50px;
      padding-bottom: 30px;
      background-repeat: no-repeat;
      background-position: right top;
      background-size: 881px 592px;
      background-image: url(../img/hero-desktop.png);
      background-image: url(../img/hero-desktop.webp);
    }
  }

  &__slogan {
    display: block;
    margin-bottom: 30px;
    text-align: center;

    @media (min-width: $screen-md) {
      margin-bottom: 44px;
    }

    @media (min-width: $screen-xl) {
      margin-bottom: 48px;
      font-weight: 600;
      font-size: 52px;
    }

    span {
      display: block;
    }
  }

  &__trends {
    margin-bottom: 20px;

    @media (min-width: $screen-xl) {
      margin-bottom: 48px;
      order: -1;
    }
  }

  &__trends-list {
    text-align: center;

    @media (min-width: $screen-xl) {
      display: flex;
      flex-direction: column;
      text-align: right;
    }
  }

  &__trends-item {
    margin-bottom: 12px;

    @media (min-width: $screen-xl) {
      margin-bottom: 0;
    }

    &:last-child {
      order: -1;
    }
  }

  &__trends-link {
    text-decoration: none !important;
    color: $title-color;

    @media (min-width: $screen-xl) {
      font-size: 64px;
      font-weight: 800 !important;
    }
  }

  &__img {
    @include col(xs, 12);
    @include col-offset(md, 2);
    @include col(md, 8);
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 30px;

    @media (min-width: $screen-xl) {
      display: none;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
    }
  }
}
